  .dropdown-toggle {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    padding: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-right .dropdown-menu {
    font-size: 14px;
    right: auto;
    margin-bottom: 20px;
    left: 100%;
  }
  
  .dropdown-header {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 80px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 80%;
    margin-bottom: 20px;
    left: 0;
    width: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .comment-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-bottom: 10px;
  }
  
  .comment-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .comment-input {
    width: 94%;
    height: 30px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 10px;
  }
  
  .comment-submit {
    background-color: #0077ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .comment-submit:hover {
    background-color: #0066cc;
  }
  