.log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .login-submit {
    background-color: #f5b031;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .login-submit:hover {
    background-color: #d6941b;
  }