*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


header {
  background-color: #003366;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#banner {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

#banner h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: black;
}

#banner p {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff6600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #cc5500;
}

#features {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.feature {
  width: 30%;
  text-align: center;
}

.feature i {
  font-size: 48px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label,
form input,
form select,
form button {
  width: 48%;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form select {
  width: 50%;
}

a {
  text-decoration: none;
  color: #fff;
}

form button {
  background-color: #ff6600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  width: 100%;
}

form button:hover {
  background-color: #cc5500;
}

#footerText {
  color: black;
}


.ski {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.ski {
  opacity: 1;
}

.ski--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.ski--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.ski_love .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.ski_nope .fa-remove {
  opacity: 0.7;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.ski--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.ski--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.moving.ski--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ski--card img {
  max-width: 100%;
  pointer-events: none;
}

.ski--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.ski--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.ski--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.ski--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.ski--buttons button:focus {
  outline: 0;
}

.ski--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}

body {
  background-color: #FCFCFC;
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.content {
  width: 650px;
  margin: 0 auto;
  padding-top: 100px;
}

span {
  color: dimgray;
}

.pop-up {
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.box {
  background-color: whitesmoke;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.button {
  margin: 0 auto;
  background-color: #FF8566;
  margin-bottom: 33px;
}

.button:hover {
  background-color: #7CCF29;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.close-button {
  transition: all 0.5s ease;
  position: absolute;
  background-color: #FF9980;
  padding: 1.5px 7px;
  left: 0;
  margin-left: -10px;
  margin-top: -9px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: white;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.close-button:hover {
  background-color: tomato;
  color: #fff;
}

h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #FF704D;
}

p {
  padding: 20px 65px 10px 65px;
  color: dimgray;
}

h1 {
  color: dimgray;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

#skiImage {
  height: 105%;
}